
footer a {
  transition: 0.3s ease all;
}

footer a:hover {
  animation: icono 0.5s ease;
}

footer a.twitter {
  @apply bg-gray-900 p-4;
}
footer a.facebook {
  @apply bg-zblue p-4;
}
footer a.instagram {
  @apply bg-zred p-4;
}

footer a.x {
  @apply bg-blue-500 p-4;
}

@keyframes icono {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

footer .author {
  margin-bottom: 40px;
  text-align: center;
}

footer .author a {
  @apply text-zred;
}
footer .author a:hover {
  text-decoration: underline;
}
